:local(.menu) {
  padding: 10px;
  border-bottom: 1px solid #3d3d3d;
}

:local(.menu) > :local(.link) {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  margin-right: 5%;
  text-align: center;
  text-decoration: none;
  background: #e74c3c;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  border-bottom: 4px solid #c0392b;
  border-right: 1px solid #c0392b;
}

:local(.menu) > :local(.link):last-child {
  margin-right: 0;
}